## Notebook_1 - Coleta de dados - Dataset Efetividade + API

Objetivo: Formar uma dataset com os dados da efetividade (passageiros que foram fiscalizados e resultado) com os dados do API (informações do voo e dos passageiros no voo). 
Os dados da efetividade foram retirados do Sistema e-DBV e os dados API foram obtidos pelo Datalake interno da Receita Federal.

In [67]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

Juntando os arquivos baixados da efetividade

In [68]:
gig1 = pd.read_csv('gig1.csv',sep=';')
gig2 = pd.read_csv('gig2.csv',sep=';')
gig3 = pd.read_csv('gig3.csv',sep=';')
gig4 = pd.read_csv('gig4.csv',sep=';')
gig5 = pd.read_csv('gig5.csv',sep=';')
gig6 = pd.read_csv('gig6.csv',sep=';')

gru1 = pd.read_csv('gru1.csv',sep=';')
gru2 = pd.read_csv('gru2.csv',sep=';')
gru3 = pd.read_csv('gru3.csv',sep=';')
gru4 = pd.read_csv('gru4.csv',sep=';')
gru5 = pd.read_csv('gru5.csv',sep=';')
gru6 = pd.read_csv('gru6.csv',sep=';')
gru7 = pd.read_csv('gru7.csv',sep=';')
gru8 = pd.read_csv('gru8.csv',sep=';')
gru9 = pd.read_csv('gru9.csv',sep=';')
gru10 = pd.read_csv('gru10.csv',sep=';')
gru11 = pd.read_csv('gru11.csv',sep=';')
gru12 = pd.read_csv('gru12.csv',sep=';')
gru13 = pd.read_csv('gru13.csv',sep=';')
gru14 = pd.read_csv('gru14.csv',sep=';')
gru15 = pd.read_csv('gru15.csv',sep=';')
gru16 = pd.read_csv('gru16.csv',sep=';')
gru17 = pd.read_csv('gru17.csv',sep=';')
gru18 = pd.read_csv('gru18.csv',sep=';')
gru19 = pd.read_csv('gru19.csv',sep=';')
gru20 = pd.read_csv('gru20.csv',sep=';')
gru21 = pd.read_csv('gru21.csv',sep=';')
gru22 = pd.read_csv('gru22.csv',sep=';')
gru23 = pd.read_csv('gru23.csv',sep=';')
gru24 = pd.read_csv('gru24.csv',sep=';')

C:\Users\06617699416\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (27,28,29,31,42,44,45,46,48,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\06617699416\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (27,28,29,31,33,42,44,45,46,48,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\06617699416\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (24,25,27,28,29,31,33,42,44,45,46,48,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

DF_EFETIVIDADE

In [ ]:
frames = [gig1,gig2,gig3,gig4,gig5,gig6,gru1,gru2,gru3,gru4,gru5,gru6,gru7,gru8,gru9,gru10,gru11,gru12,gru13,gru14,gru15,gru16,gru17,gru18,gru19,gru20,gru21,gru22,gru23,gru24]
df = pd.concat(frames)
# df.head(2)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612740 entries, 0 to 18834
Data columns (total 76 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   UA                                                    612740 non-null  int64
 1   Recinto                                               612740 non-null  object
 2   Cia/Número do Voo                                     609771 non-null  object
 3   Aeroporto de Origem do Voo                            609771 non-null  object
 4   Data de Chegada do Voo                                609771 non-null  object
 5   Número da Fiscalização                                612740 non-null  int64
 6   Código do VU                                          612740 non-null  int64
 7   CPF                                                   258401 non-null  float64
 8   Número do Documento principal                         612440 non-null  object
 9   País Emissor do Documento principal                   611760 non-null  object
 10  Nome principal                                        612734 non-null  object
 11  Nacionalidade                                         612265 non-null  object
 12  Data de Nascimento                                    612650 non-null  object
 13  Data da Pontuação                                     609626 non-null  object
 14  Tipo da Modulação                                     609626 non-null  object
 15  Situação do Processamento                             609626 non-null  object
 16  Pontuação em Escopos Nacionais                        609626 non-null  float64
 17  Pontuação em Escopos Locais                           609626 non-null  float64
 18  Data da Seleção                                       23776 non-null   object
 19  Tipo da Seleção                                       23978 non-null   object
 20  Abrangência                                           24822 non-null   object
 21  Responsável pela Seleção Manual - CPF                 4657 non-null    float64
 22  Responsável pela Seleção Manual - Nome                4657 non-null    object
 23  Data do Carregamento                                  21485 non-null   object
 24  Data da Identificação                                 14871 non-null   object
 25  Evento de Identificação                               14871 non-null   object
 26  Número da Declaração                                  2537 non-null    float64
 27  Resultado da Análise de Risco da Declaração (canal)   2537 non-null    object
 28  Total de Porte de Valores Declarado (R$)              2497 non-null    object
 29  Total de Bens Declarado (US$)                         2497 non-null    object
 30  Responsável pelo Registro - CPF                       2519 non-null    float64
 31  Responsável pelo Registro - Nome                      2519 non-null    object
 32  Identificação por documento - Responsável CPF         407 non-null     float64
 33  Identificação por documento - Responsável Nome        407 non-null     object
 34  Fisc. Rápida - Data do Início                         42106 non-null   object
 35  Fisc. Rápida - Responsável Início - CPF               42106 non-null   float64
 36  Fisc. Rápida - Responsável Início - Nome              42106 non-null   object
 37  Fisc. Rápida - Data do Término                        42106 non-null   object
 38  Fisc. Rápida - Responsável Término - CPF              42106 non-null   float64
 39  Fisc. Rápida - Responsável Término - Nome             42106 non-null   object
 40  Fisc. Rápida - Origem da Informação                   42106 non-null   object
 41  Fisc. Detalhada - Número da Fiscalização              6447 non-null    float64
 42  Fisc. Detalhada - Data do Início                      6447 non-null    object
 43  Fisc. Detalhada - Responsável Início - CPF            6447 non-null    float64
 44  Fisc. Detalhada - Responsável Início - Nome           6447 non-null    object
 45  Fisc. Detalhada - Data do Término                     6447 non-null    object
 46  Fisc. Detalhada - Tipo do Término                     6447 non-null    object
 47  Fisc. Detalhada - Responsável Término - CPF           6447 non-null    float64
 48  Fisc. Detalhada - Responsável Término - Nome          6447 non-null    object
 49  Fisc. Detalhada - Origem da Informação                6447 non-null    object
 50  Número eDBV                                           4288 non-null    float64
 51  Tipo                                                  4288 non-null    object
 52  Data do último termo                                  2675 non-null    object
 53  Declaração Falsa ou Inexata?                          1860 non-null    object
 54  Ocorrência com espontaneidade?                        2428 non-null    object
 55  RTE (R$)                                              4226 non-null    object
 56  Tributos (R$)                                         4226 non-null    object
 57  Multa (R$)                                            4226 non-null    object
 58  Bens Retidos - Aguardando Anuência (US$)              4226 non-null    object
 59  Bens Retidos - Aguardando Pagamento (US$)             4226 non-null    object
 60  Bens Retidos - Aguardando Perícia (US$)               4226 non-null    object
 61  Bens Retidos - Aplicação de Pena de Perdimento (US$)  4226 non-null    object
 62  Bens Retidos - Bagagem Sujeita ao RCI (US$)           4226 non-null    object
 63  Bens Retidos - Em Trânsito Aduaneiro (US$)            4226 non-null    object
 64  Bens Retidos - Fora do Conceito de Bagagem (US$)      4226 non-null    object
 65  Bens em Apreensão - Valor (US$)                       4226 non-null    object
 66  Bens em Porte de Valores Retidos - Valor (R$)         4226 non-null    object
 67  Bens em Porte de Valores Validados (R$)               4226 non-null    object
 68  Bens em Admissão Temporária Concedida (US$)           4226 non-null    object
 69  Bens em Admissão Temporária Extinta (US$)             4226 non-null    object
 70  Bens em Admissão Temporária Vencida (US$)             4226 non-null    object
 71  Apreensão de Entorpecentes - Peso Líquido (kg)        4226 non-null    object
 72  Apreensão de Entorpecentes - Peso Bruto (kg)          4226 non-null    object
 73  Apreensão de Entorpecentes - Total de Bens (US$)      4226 non-null    object
 74  Total de Bens (US$)                                   4226 non-null    object
 75  Unnamed: 75                                           0 non-null       float64
dtypes: float64(14), int64(3), object(59)
memory usage: 360.0+ MB

Retirando colunas que não serão usadas e não irão interferir na análise ou cruzamento de dados

In [71]:
df_efetividade = df.copy()
df_efetividade = df_efetividade.drop(['Número da Fiscalização'], axis=1)
df_efetividade = df_efetividade.drop(df_efetividade.columns[[0,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54]], axis=1)

df_efetividade['Recinto'] = df_efetividade['Recinto'].replace({'São Paulo/Guarulhos (GRU)':'GRU'})
df_efetividade['Recinto'] = df_efetividade['Recinto'].replace({'Rio de Janeiro/Galeão (GIG)':'GIG'})
#df

Criando um atributo para merge. Evitar repetição. VU + data

In [72]:
df_efetividade['vu chegada'] = df_efetividade['Data de Chegada do Voo'].astype(str).apply(lambda x: x[0:10].replace('/',''))
df_efetividade['vu chegada'] = df_efetividade['Código do VU'].astype(str) + df_efetividade['vu chegada']

df_efetividade['Data de Chegada do Voo2'] = pd.to_datetime(df_efetividade['Data de Chegada do Voo'],format='%d/%m/%Y', errors='ignore') #evitar erros de troca de dia por mês.
df_efetividade['Data de Chegada do Voo2'] = pd.to_datetime(df_efetividade['Data de Chegada do Voo2']) 
df_efetividade['data chegada sem hora'] = df_efetividade['Data de Chegada do Voo2'].dt.strftime('%D')

# df_efetividade[['Data de Chegada do Voo','Data de Chegada do Voo2','data chegada sem hora','vu chegada']].head(4)

Verificando os ficalizados que tiveram ocorrência sem espontaneidade

In [73]:
df_efetividade['fiscalizados_rapida'] = np.where(df_efetividade['Fisc. Rápida - Responsável Início - CPF'].isna(), 0, 1) 
df_efetividade['fiscalizados_detalhada'] = np.where(df_efetividade['Fisc. Detalhada - Responsável Término - CPF'].isna(), 0, 1)
df_efetividade['fiscalizados'] = df_efetividade['fiscalizados_rapida']+df_efetividade['fiscalizados_detalhada']
df_efetividade['fiscalizados'] = np.where(df_efetividade['fiscalizados'] > 0,1,0)

df_efetividade['ocorrencia'] = np.where(df_efetividade['Tipo'] == 'Ocorrência', 1, 0)
df_efetividade['nao_espontaneo'] = np.where(df_efetividade['Ocorrência com espontaneidade?'] == 'Não', 1, 0)
df_efetividade['resultado'] = df_efetividade['ocorrencia'] + df_efetividade['nao_espontaneo']
df_efetividade['resultado'] = np.where(df_efetividade['resultado'] > 1,1,0)

In [ ]:
df_efetividade = df_efetividade.drop(columns=['Data da Pontuação', 'Tipo da Modulação', 'Situação do Processamento', 'Pontuação em Escopos Nacionais', 'Pontuação em Escopos Locais', 'Data da Seleção', 'Tipo da Seleção', 'Abrangência', 'Responsável pela Seleção Manual - CPF', 'Responsável pela Seleção Manual - Nome', 'Data do Carregamento', 'Data da Identificação', 'Evento de Identificação', 'Número da Declaração', 'Resultado da Análise de Risco da Declaração (canal)', 'Total de Porte de Valores Declarado (R$)', 'Total de Bens Declarado (US$)', 'Responsável pelo Registro - CPF', 'Responsável pelo Registro - Nome', 'Identificação por documento - Responsável CPF', 'Identificação por documento - Responsável Nome', 'Fisc. Rápida - Data do Início', 'Fisc. Rápida - Responsável Início - CPF', 'Fisc. Rápida - Responsável Início - Nome', 'Fisc. Rápida - Data do Término', 'Fisc. Rápida - Responsável Término - CPF', 'Fisc. Rápida - Responsável Término - Nome', 'Fisc. Rápida - Origem da Informação', 'Fisc. Detalhada - Número da Fiscalização', 'Fisc. Detalhada - Data do Início', 'Fisc. Detalhada - Responsável Início - CPF', 'Fisc. Detalhada - Responsável Início - Nome', 'Fisc. Detalhada - Data do Término', 'Fisc. Detalhada - Tipo do Término', 'Fisc. Detalhada - Responsável Término - CPF', 'Fisc. Detalhada - Responsável Término - Nome', 'Fisc. Detalhada - Origem da Informação', 'Número eDBV', 'Tipo', 'Data do último termo', 'Declaração Falsa ou Inexata?', 'Ocorrência com espontaneidade?','fiscalizados_rapida','fiscalizados_detalhada','ocorrencia','nao_espontaneo','CPF'])

Retirando as linhas duplicadas e somando a indicação dos fiscalizados e resultado

In [75]:
df_efetividade = df_efetividade.groupby(['Recinto','Cia/Número do Voo', 'Aeroporto de Origem do Voo','Código do VU','Número do Documento principal','País Emissor do Documento principal','Nome principal','Nacionalidade','Data de Nascimento','data chegada sem hora', 'vu chegada'],as_index=False, dropna=False)['fiscalizados', 'resultado'].sum()
# df_efetividade.sort_values('fiscalizados').tail(10)

C:\Users\066176~1\AppData\Local\Temp/ipykernel_13860/1182677510.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_efetividade = df_efetividade.groupby(['Recinto','Cia/Número do Voo', 'Aeroporto de Origem do Voo','Código do VU','Número do Documento principal','País Emissor do Documento principal','Nome principal','Nacionalidade','Data de Nascimento','data chegada sem hora', 'vu chegada'],as_index=False, dropna=False)['fiscalizados', 'resultado'].sum()

Transformando os dados em fiscalizados e resultado em binários

In [76]:
df_efetividade['fiscalizados_0/1'] = np.where(df_efetividade['fiscalizados'] > 0, 1, 0)
df_efetividade['resultado_0/1'] = np.where(df_efetividade['resultado'] > 0, 1, 0)
# df_efetividade.sort_values('resultado').tail(10)

In [77]:
df_efetividade = df_efetividade.drop(columns=['fiscalizados','resultado'])

Retirando passageiros sem voo. Ex: declarante voo de saída

In [ ]:
df_efetividade = df_efetividade.loc[df_efetividade['Cia/Número do Voo'].notna()]
# df_efetividade

--------------------------------------------------------------------------------------------------------------------------------
Dados API

In [80]:
api = pd.read_csv('API TABELA VOOS.csv', sep=';', encoding = 'latin1')
df_api = api.copy()
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597989 entries, 0 to 597988
Data columns (total 16 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   Data da Chegada do Voo                           597989 non-null  object
 1   Codigo IATA da origem do voo                     597989 non-null  object
 2   Codigo IATA do destino do Voo                    597989 non-null  object
 3   Data de Partida do Voo                           597989 non-null  object
 4   Pais de origem do voo                            597989 non-null  object
 5   Numero do Voo                                    597989 non-null  int64
 6   Companhia Aerea                                  597793 non-null  object
 7   Tipo de Viajante                                 597989 non-null  object
 8   Numero do Viajante Unico                         597989 non-null  int64
 9   Codigo IATA do local de embarque do passageiro   597796 non-null  object
 10  Cidade do embarque do viajante                   597739 non-null  object
 11  Pais de embarque do viajante                     597736 non-null  object
 12  Codigo IATA do local de desembarque do viajante  597796 non-null  object
 13  Codigo Localizador da Reserva                    546520 non-null  object
 14  Quantidade de Registros                          597989 non-null  int64
 15  Quantidade de bagagens                           597989 non-null  int64
dtypes: int64(4), object(12)
memory usage: 73.0+ MB

Criando código para o merge

In [ ]:
df_api['vu chegada'] = df_api['Data da Chegada do Voo'].astype(str).apply(lambda x: x[0:10].replace('/',''))
df_api['vu chegada'] = df_api['Numero do Viajante Unico'].astype(str) + df_api['vu chegada']
df_api['Data da Chegada do Voo2'] = df_api['Data da Chegada do Voo'].astype(str).apply(lambda x: x[0:10].replace('/',''))

# df_api[['vu chegada','Data da Chegada do Voo','Data da Chegada do Voo2']].head(2)

Voos duplicadas. Mesma situação dos dados da fiscalização que são oriundos desses dados.

In [ ]:
df_api = df_api.drop(columns=['Data da Chegada do Voo'])
df_api = df_api.drop_duplicates() # retirando as linhas duplicadas
# df_api.shape

Repetidos

In [84]:
df_repetidos_api = df_api.copy()
df_repetidos_api = df_repetidos_api.drop_duplicates()
df_repetidos_api = df_repetidos_api.loc[df_repetidos_api['Tipo de Viajante'] != 'Tripulante'] # serão retirados após o merge com o df principal
df_repetidos_api = df_repetidos_api.loc[df_repetidos_api['Tipo de Viajante'] != 'Passageiro em trânsito'] # serão retirados após com o df principal
df_repetidos_api['Quantidade de Registros'] = 1
df_repetidos_api['qtt_pax_repetidos'] = df_repetidos_api.groupby('vu chegada')['Quantidade de Registros'].transform(np.sum)
# df_repetidos_api.loc[df_repetidos_api['qtt_pax_repetidos']>1].sort_values('vu chegada')

-----------------------------------
Junção da Efetividade (df) com os dados API (df_API)

In [86]:
df_efetividade.shape,df_api.shape

((566148, 13), (597262, 17))

In [87]:
df_efetividade_api = pd.merge(df_efetividade,df_api, left_on='vu chegada',right_on='vu chegada', how='left')
df_efetividade_api.shape

(569806, 29)

Retirando Tripulantes e Passageiros em trânsito

In [88]:
df_efetivadade_api_pax = df_efetividade_api.loc[(df_efetividade_api['Tipo de Viajante'] != 'Tripulante') & (df_efetividade_api['Tipo de Viajante'] != 'Passageiro em trânsito')]

Número de passageiros com a mesma reserva

In [90]:
df_efetivadade_api_pax['Quantidade de Registros'] = 1
df_efetivadade_api_pax['qtd_pax_reserva'] = df_efetivadade_api_pax.groupby('Codigo Localizador da Reserva')['Quantidade de Registros'].transform(np.sum)

DataFrame Reserva x Resultado

In [ ]:
df_reservas_resultado = df_efetivadade_api_pax[['resultado_0/1','Codigo Localizador da Reserva']]
df_reservas_resultado.columns = ['resultado_reserva', 'Codigo Localizador da Reserva']
df_reservas_resultado = df_reservas_resultado.loc[df_reservas_resultado['resultado_reserva'] > 0]
# df_reservas_resultado

Agrupamento. Retirando as reservas duplicadas, somando resultado e atribuinto 0 ou 1 para reservas com resultado.

In [ ]:
df_reservas_resultado = df_reservas_resultado.groupby(['Codigo Localizador da Reserva'],as_index=False, dropna=False)['resultado_reserva'].sum() # agrupando
df_reservas_resultado['resultado_reserva'] = np.where(df_reservas_resultado['resultado_reserva'] > 0, 1, 0)
df_reservas_resultado = df_reservas_resultado.drop_duplicates()
# df_reservas_resultado.sort_values('resultado_reserva')

--------------------------------------------------------------------------------------------------------------------
Merge: df_efetividade_api_pax x df_reservas_fiscalizadas

In [93]:
print(df_efetivadade_api_pax.shape)
print(df_reservas_resultado.shape)

(495228, 30)
(1824, 2)

In [94]:
df_efetivadade_api_pax_reserva = pd.merge(df_efetivadade_api_pax,df_reservas_resultado,left_on='Codigo Localizador da Reserva',
                                        right_on='Codigo Localizador da Reserva', how='left')
df_efetivadade_api_pax_reserva['resultado_reserva'] = np.where(df_efetivadade_api_pax_reserva['resultado_reserva'].isna(),0,1)
df_efetivadade_api_pax_reserva['fiscalizados_reserva'] = np.where((df_efetivadade_api_pax_reserva['fiscalizados_0/1'] == 0) 
                                                                & (df_efetivadade_api_pax_reserva['resultado_reserva'] == 1),1,
                                                                df_efetivadade_api_pax_reserva['fiscalizados_0/1'])

In [95]:
df_efetivadade_api_pax_reserva.isna().sum()

Recinto                                              0
Cia/Número do Voo                                    0
Aeroporto de Origem do Voo                           0
Código do VU                                         0
Número do Documento principal                      221
País Emissor do Documento principal                655
Nome principal                                       0
Nacionalidade                                      312
Data de Nascimento                                  73
data chegada sem hora                                0
vu chegada                                           0
fiscalizados_0/1                                     0
resultado_0/1                                        0
Codigo IATA da origem do voo                       316
Codigo IATA do destino do Voo                      316
Data de Partida do Voo                             316
Pais de origem do voo                              316
Numero do Voo                                      316
Companhia Aerea                                    316
Tipo de Viajante                                   316
Numero do Viajante Unico                           316
Codigo IATA do local de embarque do passageiro     318
Cidade do embarque do viajante                     364
Pais de embarque do viajante                       369
Codigo IATA do local de desembarque do viajante    318
Codigo Localizador da Reserva                      346
Quantidade de Registros                              0
Quantidade de bagagens                             316
Data da Chegada do Voo2                            316
qtd_pax_reserva                                    346
resultado_reserva                                    0
fiscalizados_reserva                                 0
dtype: int64

Desconsiderando os passageiros fiscalizados que os voos não foram identificados no dados API disponíveis.

In [96]:
df_efetivadade_api_pax_reserva['fiscalizados_reserva'] = np.where(df_efetivadade_api_pax_reserva['Codigo IATA do destino do Voo'].isna(),0,df_efetivadade_api_pax_reserva['fiscalizados_reserva'])

Considerando passageiros sem código de reserva como viajando sozinho. qtt_pax_reserva = 1

In [97]:
df_efetivadade_api_pax_reserva.loc[(df_efetivadade_api_pax_reserva['Codigo Localizador da Reserva'].isna()) & (df_efetivadade_api_pax_reserva['Codigo IATA do local de desembarque do viajante'].notna())].head(5)

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,fiscalizados_0/1,resultado_0/1,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Tipo de Viajante,Numero do Viajante Unico,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de Registros,Quantidade de bagagens,Data da Chegada do Voo2,qtd_pax_reserva,resultado_reserva,fiscalizados_reserva
115712,GRU,AF454,CDG,20201218165660002,GC038453,BRASIL,MAIA MATOS HOFFET,BRA,15/02/2019,01/13/21,2020121816566000213012021,0,0,CDG,GRU,12/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.020122e+16,NCE,Nice,França,BSB,NaN,1,0.0,13012021,NaN,1,1
116576,GRU,AF454,CDG,20210120200200088,YE235971,BRASIL,ANA SOFIA FAUSTINO FERNANDES,BRA,01/08/2019,01/21/21,2021012020020008821012021,0,0,CDG,GRU,20/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.021012e+16,LHR,London,Reino Unido,GYN,NaN,1,0.0,21012021,NaN,1,1
419907,GRU,TK15,IST,20150121191023049,U22197181,TURQUIA,OMER YIGITHAN DEMIRDIK,TUR,23/03/1996,06/04/21,2015012119102304906042021,0,0,IST,GRU,06/04/2021 10:30:00,Turquia,15.0,Turkish Airlines,Passageiro,2.015012e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,06042021,NaN,1,1
422254,GRU,TK15,IST,20170126054280791,FZ838373,BRASIL,SCHREINER CLARICE RANGEL,BRA,21/12/1998,01/24/21,2017012605428079124012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017013e+16,IST,"Arnavutk?y, Istanbul",Turquia,GRU,NaN,1,0.0,24012021,NaN,1,1
422679,GRU,TK15,IST,20170222112288856,AAG489156,ARGENTINA,LUIS LEOPOLDO BERNARDO TELLO,ARG,27/07/1957,01/24/21,2017022211228885624012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017022e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,24012021,NaN,1,1

In [98]:
df_efetivadade_api_pax_reserva['qtd_pax_reserva'] = np.where(df_efetivadade_api_pax_reserva['qtd_pax_reserva'].isna(),1,df_efetivadade_api_pax_reserva['qtd_pax_reserva'])
df_efetivadade_api_pax_reserva.loc[(df_efetivadade_api_pax_reserva['Codigo Localizador da Reserva'].isna()) & (df_efetivadade_api_pax_reserva['Codigo IATA do local de desembarque do viajante'].notna())].head()

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,fiscalizados_0/1,resultado_0/1,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Tipo de Viajante,Numero do Viajante Unico,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de Registros,Quantidade de bagagens,Data da Chegada do Voo2,qtd_pax_reserva,resultado_reserva,fiscalizados_reserva
115712,GRU,AF454,CDG,20201218165660002,GC038453,BRASIL,MAIA MATOS HOFFET,BRA,15/02/2019,01/13/21,2020121816566000213012021,0,0,CDG,GRU,12/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.020122e+16,NCE,Nice,França,BSB,NaN,1,0.0,13012021,1.0,1,1
116576,GRU,AF454,CDG,20210120200200088,YE235971,BRASIL,ANA SOFIA FAUSTINO FERNANDES,BRA,01/08/2019,01/21/21,2021012020020008821012021,0,0,CDG,GRU,20/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.021012e+16,LHR,London,Reino Unido,GYN,NaN,1,0.0,21012021,1.0,1,1
419907,GRU,TK15,IST,20150121191023049,U22197181,TURQUIA,OMER YIGITHAN DEMIRDIK,TUR,23/03/1996,06/04/21,2015012119102304906042021,0,0,IST,GRU,06/04/2021 10:30:00,Turquia,15.0,Turkish Airlines,Passageiro,2.015012e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,06042021,1.0,1,1
422254,GRU,TK15,IST,20170126054280791,FZ838373,BRASIL,SCHREINER CLARICE RANGEL,BRA,21/12/1998,01/24/21,2017012605428079124012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017013e+16,IST,"Arnavutk?y, Istanbul",Turquia,GRU,NaN,1,0.0,24012021,1.0,1,1
422679,GRU,TK15,IST,20170222112288856,AAG489156,ARGENTINA,LUIS LEOPOLDO BERNARDO TELLO,ARG,27/07/1957,01/24/21,2017022211228885624012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017022e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,24012021,1.0,1,1

---------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------
PASSAGEIROS FISCALIZADOS E RESULTADO

In [ ]:
df_fiscalizados_resultado = df_efetivadade_api_pax_reserva.loc[df_efetivadade_api_pax_reserva['fiscalizados_reserva']>0]
# df_fiscalizados_resultado

In [100]:
df_fiscalizados_resultado.columns

Index(['Recinto', 'Cia/Número do Voo', 'Aeroporto de Origem do Voo',
       'Código do VU', 'Número do Documento principal',
       'País Emissor do Documento principal', 'Nome principal',
       'Nacionalidade', 'Data de Nascimento', 'data chegada sem hora',
       'vu chegada', 'fiscalizados_0/1', 'resultado_0/1',
       'Codigo IATA da origem do voo', 'Codigo IATA do destino do Voo',
       'Data de Partida do Voo', 'Pais de origem do voo', 'Numero do Voo',
       'Companhia Aerea', 'Tipo de Viajante', 'Numero do Viajante Unico',
       'Codigo IATA do local de embarque do passageiro',
       'Cidade do embarque do viajante', 'Pais de embarque do viajante',
       'Codigo IATA do local de desembarque do viajante',
       'Codigo Localizador da Reserva', 'Quantidade de Registros',
       'Quantidade de bagagens', 'Data da Chegada do Voo2', 'qtd_pax_reserva',
       'resultado_reserva', 'fiscalizados_reserva'],
      dtype='object')

In [101]:
df_fiscalizados_resultado.isna().sum()

Recinto                                             0
Cia/Número do Voo                                   0
Aeroporto de Origem do Voo                          0
Código do VU                                        0
Número do Documento principal                       0
País Emissor do Documento principal                22
Nome principal                                      0
Nacionalidade                                       3
Data de Nascimento                                  1
data chegada sem hora                               0
vu chegada                                          0
fiscalizados_0/1                                    0
resultado_0/1                                       0
Codigo IATA da origem do voo                        0
Codigo IATA do destino do Voo                       0
Data de Partida do Voo                              0
Pais de origem do voo                               0
Numero do Voo                                       0
Companhia Aerea                                     0
Tipo de Viajante                                    0
Numero do Viajante Unico                            0
Codigo IATA do local de embarque do passageiro      2
Cidade do embarque do viajante                      3
Pais de embarque do viajante                        4
Codigo IATA do local de desembarque do viajante     2
Codigo Localizador da Reserva                      30
Quantidade de Registros                             0
Quantidade de bagagens                              0
Data da Chegada do Voo2                             0
qtd_pax_reserva                                     0
resultado_reserva                                   0
fiscalizados_reserva                                0
dtype: int64

In [ ]:
df_fiscalizados_resultado = df_fiscalizados_resultado.drop(columns=['fiscalizados_reserva','fiscalizados_0/1','resultado_0/1','Numero do Viajante Unico','Quantidade de Registros','Tipo de Viajante'])
# df_fiscalizados_resultado

In [104]:
# df_fiscalizados_resultado.to_csv('fiscalizados_resultado.csv',sep=';')

In [105]:
df_fiscalizados_resultado.shape

(35840, 26)