# Dataset Efetividade + API

## Objetivo: Formar uma dataset com os dados da efetividade (passageiros que foram fiscalizados e resultado) com os dados do API (informações do voo e dos passageiros no voo). 
### Os dados da efetividade foram retirados do Sistema e-DBV e os dados API foram obtidos pelo Datalake por meio das tabelas dos usuários do Contágil.

In [67]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

### Juntando os arquivos baixados da efetividade

In [68]:
gig1 = pd.read_csv('gig1.csv',sep=';')
gig2 = pd.read_csv('gig2.csv',sep=';')
gig3 = pd.read_csv('gig3.csv',sep=';')
gig4 = pd.read_csv('gig4.csv',sep=';')
gig5 = pd.read_csv('gig5.csv',sep=';')
gig6 = pd.read_csv('gig6.csv',sep=';')

gru1 = pd.read_csv('gru1.csv',sep=';')
gru2 = pd.read_csv('gru2.csv',sep=';')
gru3 = pd.read_csv('gru3.csv',sep=';')
gru4 = pd.read_csv('gru4.csv',sep=';')
gru5 = pd.read_csv('gru5.csv',sep=';')
gru6 = pd.read_csv('gru6.csv',sep=';')
gru7 = pd.read_csv('gru7.csv',sep=';')
gru8 = pd.read_csv('gru8.csv',sep=';')
gru9 = pd.read_csv('gru9.csv',sep=';')
gru10 = pd.read_csv('gru10.csv',sep=';')
gru11 = pd.read_csv('gru11.csv',sep=';')
gru12 = pd.read_csv('gru12.csv',sep=';')
gru13 = pd.read_csv('gru13.csv',sep=';')
gru14 = pd.read_csv('gru14.csv',sep=';')
gru15 = pd.read_csv('gru15.csv',sep=';')
gru16 = pd.read_csv('gru16.csv',sep=';')
gru17 = pd.read_csv('gru17.csv',sep=';')
gru18 = pd.read_csv('gru18.csv',sep=';')
gru19 = pd.read_csv('gru19.csv',sep=';')
gru20 = pd.read_csv('gru20.csv',sep=';')
gru21 = pd.read_csv('gru21.csv',sep=';')
gru22 = pd.read_csv('gru22.csv',sep=';')
gru23 = pd.read_csv('gru23.csv',sep=';')
gru24 = pd.read_csv('gru24.csv',sep=';')

C:\Users\06617699416\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (27,28,29,31,42,44,45,46,48,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\06617699416\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (27,28,29,31,33,42,44,45,46,48,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\06617699416\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (24,25,27,28,29,31,33,42,44,45,46,48,49,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### DF_EFETIVIDADE

In [69]:
frames = [gig1,gig2,gig3,gig4,gig5,gig6,gru1,gru2,gru3,gru4,gru5,gru6,gru7,gru8,gru9,gru10,gru11,gru12,gru13,gru14,gru15,gru16,gru17,gru18,gru19,gru20,gru21,gru22,gru23,gru24]
df = pd.concat(frames)
df.head(2)

,UA,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Data de Chegada do Voo,Número da Fiscalização,Código do VU,CPF,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,Data da Pontuação,Tipo da Modulação,Situação do Processamento,Pontuação em Escopos Nacionais,Pontuação em Escopos Locais,Data da Seleção,Tipo da Seleção,Abrangência,Responsável pela Seleção Manual - CPF,Responsável pela Seleção Manual - Nome,Data do Carregamento,Data da Identificação,Evento de Identificação,Número da Declaração,Resultado da Análise de Risco da Declaração (canal),Total de Porte de Valores Declarado (R$),Total de Bens Declarado (US$),Responsável pelo Registro - CPF,Responsável pelo Registro - Nome,Identificação por documento - Responsável CPF,Identificação por documento - Responsável Nome,Fisc. Rápida - Data do Início,Fisc. Rápida - Responsável Início - CPF,Fisc. Rápida - Responsável Início - Nome,Fisc. Rápida - Data do Término,Fisc. Rápida - Responsável Término - CPF,Fisc. Rápida - Responsável Término - Nome,Fisc. Rápida - Origem da Informação,Fisc. Detalhada - Número da Fiscalização,Fisc. Detalhada - Data do Início,Fisc. Detalhada - Responsável Início - CPF,Fisc. Detalhada - Responsável Início - Nome,Fisc. Detalhada - Data do Término,Fisc. Detalhada - Tipo do Término,Fisc. Detalhada - Responsável Término - CPF,Fisc. Detalhada - Responsável Término - Nome,Fisc. Detalhada - Origem da Informação,Número eDBV,Tipo,Data do último termo,Declaração Falsa ou Inexata?,Ocorrência com espontaneidade?,RTE (R$),Tributos (R$),Multa (R$),Bens Retidos - Aguardando Anuência (US$),Bens Retidos - Aguardando Pagamento (US$),Bens Retidos - Aguardando Perícia (US$),Bens Retidos - Aplicação de Pena de Perdimento (US$),Bens Retidos - Bagagem Sujeita ao RCI (US$),Bens Retidos - Em Trânsito Aduaneiro (US$),Bens Retidos - Fora do Conceito de Bagagem (US$),Bens em Apreensão - Valor (US$),Bens em Porte de Valores Retidos - Valor (R$),Bens em Porte de Valores Validados (R$),Bens em Admissão Temporária Concedida (US$),Bens em Admissão Temporária Extinta (US$),Bens em Admissão Temporária Vencida (US$),Apreensão de Entorpecentes - Peso Líquido (kg),Apreensão de Entorpecentes - Peso Bruto (kg),Apreensão de Entorpecentes - Total de Bens (US$),Total de Bens (US$),Unnamed: 75
0,717700,Rio de Janeiro/Galeão (GIG),AA905,MIA,24/01/2021 07:55,20210100001291923,20170120012434385,7.782678e+10,YC521742,BRASIL,GLAUCO ANTONIO DE FREITAS,USA,11/12/1962,24/01/2021 00:10:07,Ranqueamento,Processado,43.0,0.0,24/01/2021 01:03:16,Manual,Local,1.392619e+09,FLAVIA DA COSTA ARAUJO,24/01/2021 06:46:37,NaN,NaN,7.177002e+13,Verde,"0,00","26,56",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.177002e+13,Declaração,NaN,Não,NaN,"140,20","70,10","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","26,56",NaN
1,717700,Rio de Janeiro/Galeão (GIG),AA905,MIA,08/01/2021 07:55,20210100001188291,20150923092572852,2.622863e+10,FU112451,BRASIL,ROBERTO ARYE FERREIRA,BRA,12/11/1978,07/01/2021 23:36:16,Ranqueamento,Processado,71.0,650.0,08/01/2021 05:45:35,Escopo Nacional,Nacional / Local,NaN,NaN,08/01/2021 05:46:40,08/01/2021 08:23:59,Reconhecimento Facial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.021010e+16,08/01/2021 08:27:32,7.257819e+09,REINALDO DE ALMEIDA VIEIRA,08/01/2021 10:28:21,Time-out,7.257819e+09,REINALDO DE ALMEIDA VIEIRA,Voo,7.177002e+13,Ocorrência,08/01/2021 08:30:17,NaN,Não,"6.406,62","3.203,31","1.601,66","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","0,00","1.199,00",NaN

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612740 entries, 0 to 18834
Data columns (total 76 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   UA                                                    612740 non-null  int64
 1   Recinto                                               612740 non-null  object
 2   Cia/Número do Voo                                     609771 non-null  object
 3   Aeroporto de Origem do Voo                            609771 non-null  object
 4   Data de Chegada do Voo                                609771 non-null  object
 5   Número da Fiscalização                                612740 non-null  int64
 6   Código do VU                                          612740 non-null  int64
 7   CPF                                                   258401 non-null  float64
 8   Número do Documento principal                         612440 non-null  object
 9   País Emissor do Documento principal                   611760 non-null  object
 10  Nome principal                                        612734 non-null  object
 11  Nacionalidade                                         612265 non-null  object
 12  Data de Nascimento                                    612650 non-null  object
 13  Data da Pontuação                                     609626 non-null  object
 14  Tipo da Modulação                                     609626 non-null  object
 15  Situação do Processamento                             609626 non-null  object
 16  Pontuação em Escopos Nacionais                        609626 non-null  float64
 17  Pontuação em Escopos Locais                           609626 non-null  float64
 18  Data da Seleção                                       23776 non-null   object
 19  Tipo da Seleção                                       23978 non-null   object
 20  Abrangência                                           24822 non-null   object
 21  Responsável pela Seleção Manual - CPF                 4657 non-null    float64
 22  Responsável pela Seleção Manual - Nome                4657 non-null    object
 23  Data do Carregamento                                  21485 non-null   object
 24  Data da Identificação                                 14871 non-null   object
 25  Evento de Identificação                               14871 non-null   object
 26  Número da Declaração                                  2537 non-null    float64
 27  Resultado da Análise de Risco da Declaração (canal)   2537 non-null    object
 28  Total de Porte de Valores Declarado (R$)              2497 non-null    object
 29  Total de Bens Declarado (US$)                         2497 non-null    object
 30  Responsável pelo Registro - CPF                       2519 non-null    float64
 31  Responsável pelo Registro - Nome                      2519 non-null    object
 32  Identificação por documento - Responsável CPF         407 non-null     float64
 33  Identificação por documento - Responsável Nome        407 non-null     object
 34  Fisc. Rápida - Data do Início                         42106 non-null   object
 35  Fisc. Rápida - Responsável Início - CPF               42106 non-null   float64
 36  Fisc. Rápida - Responsável Início - Nome              42106 non-null   object
 37  Fisc. Rápida - Data do Término                        42106 non-null   object
 38  Fisc. Rápida - Responsável Término - CPF              42106 non-null   float64
 39  Fisc. Rápida - Responsável Término - Nome             42106 non-null   object
 40  Fisc. Rápida - Origem da Informação                   42106 non-null   object
 41  Fisc. Detalhada - Número da Fiscalização              6447 non-null    float64
 42  Fisc. Detalhada - Data do Início                      6447 non-null    object
 43  Fisc. Detalhada - Responsável Início - CPF            6447 non-null    float64
 44  Fisc. Detalhada - Responsável Início - Nome           6447 non-null    object
 45  Fisc. Detalhada - Data do Término                     6447 non-null    object
 46  Fisc. Detalhada - Tipo do Término                     6447 non-null    object
 47  Fisc. Detalhada - Responsável Término - CPF           6447 non-null    float64
 48  Fisc. Detalhada - Responsável Término - Nome          6447 non-null    object
 49  Fisc. Detalhada - Origem da Informação                6447 non-null    object
 50  Número eDBV                                           4288 non-null    float64
 51  Tipo                                                  4288 non-null    object
 52  Data do último termo                                  2675 non-null    object
 53  Declaração Falsa ou Inexata?                          1860 non-null    object
 54  Ocorrência com espontaneidade?                        2428 non-null    object
 55  RTE (R$)                                              4226 non-null    object
 56  Tributos (R$)                                         4226 non-null    object
 57  Multa (R$)                                            4226 non-null    object
 58  Bens Retidos - Aguardando Anuência (US$)              4226 non-null    object
 59  Bens Retidos - Aguardando Pagamento (US$)             4226 non-null    object
 60  Bens Retidos - Aguardando Perícia (US$)               4226 non-null    object
 61  Bens Retidos - Aplicação de Pena de Perdimento (US$)  4226 non-null    object
 62  Bens Retidos - Bagagem Sujeita ao RCI (US$)           4226 non-null    object
 63  Bens Retidos - Em Trânsito Aduaneiro (US$)            4226 non-null    object
 64  Bens Retidos - Fora do Conceito de Bagagem (US$)      4226 non-null    object
 65  Bens em Apreensão - Valor (US$)                       4226 non-null    object
 66  Bens em Porte de Valores Retidos - Valor (R$)         4226 non-null    object
 67  Bens em Porte de Valores Validados (R$)               4226 non-null    object
 68  Bens em Admissão Temporária Concedida (US$)           4226 non-null    object
 69  Bens em Admissão Temporária Extinta (US$)             4226 non-null    object
 70  Bens em Admissão Temporária Vencida (US$)             4226 non-null    object
 71  Apreensão de Entorpecentes - Peso Líquido (kg)        4226 non-null    object
 72  Apreensão de Entorpecentes - Peso Bruto (kg)          4226 non-null    object
 73  Apreensão de Entorpecentes - Total de Bens (US$)      4226 non-null    object
 74  Total de Bens (US$)                                   4226 non-null    object
 75  Unnamed: 75                                           0 non-null       float64
dtypes: float64(14), int64(3), object(59)
memory usage: 360.0+ MB

### Retirando colunas que não serão usadas e não irão interferir na análise ou cruzamento de dados

In [71]:
df_efetividade = df.copy()
df_efetividade = df_efetividade.drop(['Número da Fiscalização'], axis=1)
df_efetividade = df_efetividade.drop(df_efetividade.columns[[0,74,73,72,71,70,69,68,67,66,65,64,63,62,61,60,59,58,57,56,55,54]], axis=1)

df_efetividade['Recinto'] = df_efetividade['Recinto'].replace({'São Paulo/Guarulhos (GRU)':'GRU'})
df_efetividade['Recinto'] = df_efetividade['Recinto'].replace({'Rio de Janeiro/Galeão (GIG)':'GIG'})
#df

### Criando um atributo para merge. Evitar repetição. VU + data

In [72]:
df_efetividade['vu chegada'] = df_efetividade['Data de Chegada do Voo'].astype(str).apply(lambda x: x[0:10].replace('/',''))
df_efetividade['vu chegada'] = df_efetividade['Código do VU'].astype(str) + df_efetividade['vu chegada']

df_efetividade['Data de Chegada do Voo2'] = pd.to_datetime(df_efetividade['Data de Chegada do Voo'],format='%d/%m/%Y', errors='ignore') #evitar erros de troca de dia por mês.
df_efetividade['Data de Chegada do Voo2'] = pd.to_datetime(df_efetividade['Data de Chegada do Voo2']) 
df_efetividade['data chegada sem hora'] = df_efetividade['Data de Chegada do Voo2'].dt.strftime('%D')

# df_efetividade[['Data de Chegada do Voo','Data de Chegada do Voo2','data chegada sem hora','vu chegada']].head(4)

#### Verificando os ficalizados que tiveram ocorrência sem espontaneidade

In [73]:
df_efetividade['fiscalizados_rapida'] = np.where(df_efetividade['Fisc. Rápida - Responsável Início - CPF'].isna(), 0, 1) 
df_efetividade['fiscalizados_detalhada'] = np.where(df_efetividade['Fisc. Detalhada - Responsável Término - CPF'].isna(), 0, 1)
df_efetividade['fiscalizados'] = df_efetividade['fiscalizados_rapida']+df_efetividade['fiscalizados_detalhada']
df_efetividade['fiscalizados'] = np.where(df_efetividade['fiscalizados'] > 0,1,0)

df_efetividade['ocorrencia'] = np.where(df_efetividade['Tipo'] == 'Ocorrência', 1, 0)
df_efetividade['nao_espontaneo'] = np.where(df_efetividade['Ocorrência com espontaneidade?'] == 'Não', 1, 0)
df_efetividade['resultado'] = df_efetividade['ocorrencia'] + df_efetividade['nao_espontaneo']
df_efetividade['resultado'] = np.where(df_efetividade['resultado'] > 1,1,0)

## Retirando as colunas que não serão utilizadas (selecionado ou não, valores, quem fiscalizou etc.)
#### CPF - estava dando problema na redução e tem nos dados do VU - dado não necessário
#### A data de chegada do VOO com a hora - algumas listas estão duplicadas com horas diferentes, por exemplo, voos atrasados com lista enviada novamente.Importante para o drop_duplicates

In [74]:
df_efetividade = df_efetividade.drop(columns=['Data da Pontuação', 'Tipo da Modulação', 'Situação do Processamento', 'Pontuação em Escopos Nacionais', 'Pontuação em Escopos Locais', 'Data da Seleção', 'Tipo da Seleção', 'Abrangência', 'Responsável pela Seleção Manual - CPF', 'Responsável pela Seleção Manual - Nome', 'Data do Carregamento', 'Data da Identificação', 'Evento de Identificação', 'Número da Declaração', 'Resultado da Análise de Risco da Declaração (canal)', 'Total de Porte de Valores Declarado (R$)', 'Total de Bens Declarado (US$)', 'Responsável pelo Registro - CPF', 'Responsável pelo Registro - Nome', 'Identificação por documento - Responsável CPF', 'Identificação por documento - Responsável Nome', 'Fisc. Rápida - Data do Início', 'Fisc. Rápida - Responsável Início - CPF', 'Fisc. Rápida - Responsável Início - Nome', 'Fisc. Rápida - Data do Término', 'Fisc. Rápida - Responsável Término - CPF', 'Fisc. Rápida - Responsável Término - Nome', 'Fisc. Rápida - Origem da Informação', 'Fisc. Detalhada - Número da Fiscalização', 'Fisc. Detalhada - Data do Início', 'Fisc. Detalhada - Responsável Início - CPF', 'Fisc. Detalhada - Responsável Início - Nome', 'Fisc. Detalhada - Data do Término', 'Fisc. Detalhada - Tipo do Término', 'Fisc. Detalhada - Responsável Término - CPF', 'Fisc. Detalhada - Responsável Término - Nome', 'Fisc. Detalhada - Origem da Informação', 'Número eDBV', 'Tipo', 'Data do último termo', 'Declaração Falsa ou Inexata?', 'Ocorrência com espontaneidade?','fiscalizados_rapida','fiscalizados_detalhada','ocorrencia','nao_espontaneo','CPF'])
df_efetividade.shape

(612740, 15)

## Retirando as linhas duplicadas e somando a indicação dos fiscalizados e resultado

In [75]:
df_efetividade = df_efetividade.groupby(['Recinto','Cia/Número do Voo', 'Aeroporto de Origem do Voo','Código do VU','Número do Documento principal','País Emissor do Documento principal','Nome principal','Nacionalidade','Data de Nascimento','data chegada sem hora', 'vu chegada'],as_index=False, dropna=False)['fiscalizados', 'resultado'].sum()
# df_efetividade.sort_values('fiscalizados').tail(10)

C:\Users\066176~1\AppData\Local\Temp/ipykernel_13860/1182677510.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_efetividade = df_efetividade.groupby(['Recinto','Cia/Número do Voo', 'Aeroporto de Origem do Voo','Código do VU','Número do Documento principal','País Emissor do Documento principal','Nome principal','Nacionalidade','Data de Nascimento','data chegada sem hora', 'vu chegada'],as_index=False, dropna=False)['fiscalizados', 'resultado'].sum()

### Transformando os dados em fiscalizados (0 ou 1) e resultado (0 ou 1)

In [76]:
df_efetividade['fiscalizados_0/1'] = np.where(df_efetividade['fiscalizados'] > 0, 1, 0)
df_efetividade['resultado_0/1'] = np.where(df_efetividade['resultado'] > 0, 1, 0)
# df_efetividade.sort_values('resultado').tail(10)

In [77]:
df_efetividade = df_efetividade.drop(columns=['fiscalizados','resultado'])

### Retirando passageiros sem voo. Ex: declarante voo de saída

In [78]:
df_efetividade = df_efetividade.loc[df_efetividade['Cia/Número do Voo'].notna()]
df_efetividade

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,fiscalizados_0/1,resultado_0/1
0,GIG,AA905,MIA,20131110113822687,FU781112,BRASIL,EDUARDO JABUR EGYPTO RIBEIRO,BRA,12/07/1976,06/04/21,2013111011382268706042021,0,0
1,GIG,AA905,MIA,20131115112532028,YC104991,BRASIL,ANA PAULA FERREIRA QUINTAN,BRA,23/06/1985,04/19/21,2013111511253202819042021,1,0
2,GIG,AA905,MIA,20131116085778804,YC453638,BRASIL,RUDA GUIMARAES FERREIRA NETO,USA,29/03/1988,03/04/21,2013111608577880403042021,1,1
3,GIG,AA905,MIA,20140301112930673,YC031627,BRASIL,JESIEL CUNHA DE OLIVEIRA,BRA,18/09/1954,03/19/21,2014030111293067319032021,0,0
4,GIG,AA905,MIA,20140323110831498,YB552481,BRASIL,MONICA VICENTE,BRA,04/07/1980,05/14/21,2014032311083149814052021,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566334,GRU,ZP2838,ASU,20210214170380028,34484070,ISRAEL,RODOLFMR SHMAILOV,ISR,20/07/1985,09/03/21,2021021417038002809032021,0,0
566335,GRU,ZP2838,ASU,20210214170380029,33989726,ISRAEL,NADAV TAL TWITO,ISR,18/02/1990,09/03/21,2021021417038002909032021,0,0
566336,GRU,ZP2838,ASU,20210214170380030,34273865,ISRAEL,AVRAHAMYOSSEFMR ATTIA,ISR,16/02/1958,09/03/21,2021021417038003009032021,0,0
566337,GRU,ZP2838,ASU,20210214170380033,32841866,ISRAEL,YOSEFMR HARRAR,ISR,16/12/1944,09/03/21,2021021417038003309032021,0,0
566338,GRU,ZP2838,ASU,20210309191460009,21775399,ISRAEL,AVIGDOR TARAB,ISR,21/03/1967,09/03/21,2021030919146000909032021,0,0

### Mostrando que não há linhas duplicadas

In [79]:
df_efetividade = df_efetividade.drop_duplicates()
df_efetividade.shape

(566148, 13)

# --------------------------------------------------------------------------------------------------------------------------------
# Dados API 
### Dados do Datalake para merge com os dados da efetividade

In [80]:
api = pd.read_csv('API TABELA VOOS.csv', sep=';', encoding = 'latin1')
df_api = api.copy()
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 597989 entries, 0 to 597988
Data columns (total 16 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   Data da Chegada do Voo                           597989 non-null  object
 1   Codigo IATA da origem do voo                     597989 non-null  object
 2   Codigo IATA do destino do Voo                    597989 non-null  object
 3   Data de Partida do Voo                           597989 non-null  object
 4   Pais de origem do voo                            597989 non-null  object
 5   Numero do Voo                                    597989 non-null  int64
 6   Companhia Aerea                                  597793 non-null  object
 7   Tipo de Viajante                                 597989 non-null  object
 8   Numero do Viajante Unico                         597989 non-null  int64
 9   Codigo IATA do local de embarque do passageiro   597796 non-null  object
 10  Cidade do embarque do viajante                   597739 non-null  object
 11  Pais de embarque do viajante                     597736 non-null  object
 12  Codigo IATA do local de desembarque do viajante  597796 non-null  object
 13  Codigo Localizador da Reserva                    546520 non-null  object
 14  Quantidade de Registros                          597989 non-null  int64
 15  Quantidade de bagagens                           597989 non-null  int64
dtypes: int64(4), object(12)
memory usage: 73.0+ MB

### Criando código para o merge

In [81]:
df_api['vu chegada'] = df_api['Data da Chegada do Voo'].astype(str).apply(lambda x: x[0:10].replace('/',''))
df_api['vu chegada'] = df_api['Numero do Viajante Unico'].astype(str) + df_api['vu chegada']
df_api['Data da Chegada do Voo2'] = df_api['Data da Chegada do Voo'].astype(str).apply(lambda x: x[0:10].replace('/',''))

df_api[['vu chegada','Data da Chegada do Voo','Data da Chegada do Voo2']].head(2)

                  vu chegada Data da Chegada do Voo Data da Chegada do Voo2
0  2017032921271703802022021    02/02/2021 00:35:00                02022021
1  2020122017522000508012021    08/01/2021 21:43:00                08012021

# Retirando pois há listas de voos duplicadas com horários diferentes. Mesma situação dos dados da fiscalização que são oriundos desses dados.

In [82]:
df_api.shape

(597989, 18)

In [83]:
df_api = df_api.drop(columns=['Data da Chegada do Voo'])
df_api = df_api.drop_duplicates() # retirando as linhas duplicadas
df_api.shape

(597262, 17)

# Repetidos API - Decisão

In [84]:
df_repetidos_api = df_api.copy()

In [85]:
df_repetidos_api = df_repetidos_api.drop_duplicates()
df_repetidos_api = df_repetidos_api.loc[df_repetidos_api['Tipo de Viajante'] != 'Tripulante'] # serão retirados após o merge com o df principal
df_repetidos_api = df_repetidos_api.loc[df_repetidos_api['Tipo de Viajante'] != 'Passageiro em trânsito'] # serão retirados após com o df principal
df_repetidos_api['Quantidade de Registros'] = 1
df_repetidos_api['qtt_pax_repetidos'] = df_repetidos_api.groupby('vu chegada')['Quantidade de Registros'].transform(np.sum)
df_repetidos_api.loc[df_repetidos_api['qtt_pax_repetidos']>1].sort_values('vu chegada')

,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Tipo de Viajante,Numero do Viajante Unico,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de Registros,Quantidade de bagagens,vu chegada,Data da Chegada do Voo2,qtt_pax_repetidos
106846,JFK,GRU,23/05/2021 23:30:00,Estados Unidos,951,American Airlines,Passageiro,20140805064383168,JFK,New York,Estados Unidos,GRU,GEJHWW,1,3,2014080506438316824052021,24052021,2
442515,JFK,GRU,23/05/2021 23:30:00,Estados Unidos,951,American Airlines,Passageiro,20140805064383168,JFK,New York,Estados Unidos,GRU,HPXWGP,1,3,2014080506438316824052021,24052021,2
23977,MAD,GRU,02/05/2021 23:55:00,Espanha,6827,Iberia Airlines,Passageiro,20140808122077869,MAD,Madrid,Espanha,GRU,H6C2D,1,0,2014080812207786904052021,04052021,2
18699,MAD,GRU,03/05/2021 23:55:00,Espanha,6827,Iberia Airlines,Passageiro,20140808122077869,MAD,Madrid,Espanha,GRU,H6C2D,1,0,2014080812207786904052021,04052021,2
418620,PTY,GRU,26/03/2021 15:31:00,Panamá,800,Copa Airlines,Passageiro,20140809202022774,PTY,Tocumen,Panamá,GRU,BJP4HW,1,4,2014080920202277427032021,27032021,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148400,SCL,GRU,22/06/2021 05:25:00,Chile,754,LAN Airlines,Passageiro,20210622063600060,SCL,Santiago,Chile,GRU,UXFMFR,1,2,2021062206360006022062021,22062021,2
394296,MIA,GIG,24/06/2021 22:50:00,Estados Unidos,905,American Airlines,Passageiro,20210624235740085,DFW,Dallas-Fort Worth,Estados Unidos,GIG,MHPVKJ,1,2,2021062423574008525062021,25062021,2
126840,MIA,GIG,24/06/2021 22:50:00,Estados Unidos,905,American Airlines,Passageiro,20210624235740085,DFW,Dallas-Fort Worth,Estados Unidos,GIG,ZCPQZO,1,2,2021062423574008525062021,25062021,2
427365,MIA,GIG,26/06/2021 23:05:00,Estados Unidos,905,American Airlines,Passageiro,20210627001340171,RDU,Raleigh/Durham,Estados Unidos,GIG,JCLWOW,1,4,2021062700134017127062021,27062021,2
527377,MIA,GIG,26/06/2021 23:05:00,Estados Unidos,905,American Airlines,Passageiro,20210627001340171,RDU,Raleigh/Durham,Estados Unidos,GIG,URJGUZ,1,4,2021062700134017127062021,27062021,2

-----------------------------------
## Junção da Efetividade (df) com os dados API (df_API)

In [86]:
df_efetividade.shape,df_api.shape

((566148, 13), (597262, 17))

In [87]:
df_efetividade_api = pd.merge(df_efetividade,df_api, left_on='vu chegada',right_on='vu chegada', how='left')
df_efetividade_api.shape

(569806, 29)

## Retirando Tripulantes e Passageiros em trânsito

In [88]:
df_efetivadade_api_pax = df_efetividade_api.loc[(df_efetividade_api['Tipo de Viajante'] != 'Tripulante') & (df_efetividade_api['Tipo de Viajante'] != 'Passageiro em trânsito')]

## Retirar linhas duplicadas - conferência

In [89]:
print(df_efetivadade_api_pax.shape)
df_efetivadade_api_pax = df_efetivadade_api_pax.drop_duplicates()
print(df_efetivadade_api_pax.shape)

(495228, 29)
(495228, 29)

# Número de passageiros com a mesma reserva

In [90]:
df_efetivadade_api_pax['Quantidade de Registros'] = 1
df_efetivadade_api_pax['qtd_pax_reserva'] = df_efetivadade_api_pax.groupby('Codigo Localizador da Reserva')['Quantidade de Registros'].transform(np.sum)

# DataFrame Reserva x Resultado

In [91]:
df_reservas_resultado = df_efetivadade_api_pax[['resultado_0/1','Codigo Localizador da Reserva']]
df_reservas_resultado.columns = ['resultado_reserva', 'Codigo Localizador da Reserva']
df_reservas_resultado = df_reservas_resultado.loc[df_reservas_resultado['resultado_reserva'] > 0]
df_reservas_resultado

        resultado_reserva Codigo Localizador da Reserva
2                       1                        XHSQIE
16                      1                        TEFZBA
131                     1                        ZSWOTB
148                     1                        EMAYCR
178                     1                        HGRCMZ
...                   ...                           ...
565347                  1                        268LWL
566506                  1                        2UU2YR
567137                  1                        2UDIGK
568109                  1                        48NG3U
568134                  1                        3ODKLD

[1873 rows x 2 columns]

### Agrupamento. Retirando as reservas duplicadas, somando resultado e atribuinto 0 ou 1 para reservas com resultado.

In [92]:
df_reservas_resultado = df_reservas_resultado.groupby(['Codigo Localizador da Reserva'],as_index=False, dropna=False)['resultado_reserva'].sum() # agrupando
df_reservas_resultado['resultado_reserva'] = np.where(df_reservas_resultado['resultado_reserva'] > 0, 1, 0)
df_reservas_resultado = df_reservas_resultado.drop_duplicates()
df_reservas_resultado.sort_values('resultado_reserva')

     Codigo Localizador da Reserva  resultado_reserva
0                           22LUWV                  1
1222                        MRNHUE                  1
1221                        MRKKHH                  1
1220                        MRCVJL                  1
1219                        MRALTH                  1
...                            ...                ...
602                         FX3L93                  1
601                         FWUJ66                  1
600                         FWNQ31                  1
598                         FVHXZD                  1
1823                           NaN                  1

[1824 rows x 2 columns]

# --------------------------------------------------------------------------------------------------------------------
# Merge: df_efetividade_api_pax x df_reservas_fiscalizadas

In [93]:
print(df_efetivadade_api_pax.shape)
print(df_reservas_resultado.shape)

(495228, 30)
(1824, 2)

In [94]:
df_efetivadade_api_pax_reserva = pd.merge(df_efetivadade_api_pax,df_reservas_resultado,left_on='Codigo Localizador da Reserva',
                                        right_on='Codigo Localizador da Reserva', how='left')
df_efetivadade_api_pax_reserva['resultado_reserva'] = np.where(df_efetivadade_api_pax_reserva['resultado_reserva'].isna(),0,1)
df_efetivadade_api_pax_reserva['fiscalizados_reserva'] = np.where((df_efetivadade_api_pax_reserva['fiscalizados_0/1'] == 0) 
                                                                & (df_efetivadade_api_pax_reserva['resultado_reserva'] == 1),1,
                                                                df_efetivadade_api_pax_reserva['fiscalizados_0/1'])

In [95]:
df_efetivadade_api_pax_reserva.isna().sum()

Recinto                                              0
Cia/Número do Voo                                    0
Aeroporto de Origem do Voo                           0
Código do VU                                         0
Número do Documento principal                      221
País Emissor do Documento principal                655
Nome principal                                       0
Nacionalidade                                      312
Data de Nascimento                                  73
data chegada sem hora                                0
vu chegada                                           0
fiscalizados_0/1                                     0
resultado_0/1                                        0
Codigo IATA da origem do voo                       316
Codigo IATA do destino do Voo                      316
Data de Partida do Voo                             316
Pais de origem do voo                              316
Numero do Voo                                      316
Companhia Aerea                                    316
Tipo de Viajante                                   316
Numero do Viajante Unico                           316
Codigo IATA do local de embarque do passageiro     318
Cidade do embarque do viajante                     364
Pais de embarque do viajante                       369
Codigo IATA do local de desembarque do viajante    318
Codigo Localizador da Reserva                      346
Quantidade de Registros                              0
Quantidade de bagagens                             316
Data da Chegada do Voo2                            316
qtd_pax_reserva                                    346
resultado_reserva                                    0
fiscalizados_reserva                                 0
dtype: int64

## Desconsiderando os passageiros fiscalizados que os voos não foram identificados no dados API disponíveis.

In [96]:
df_efetivadade_api_pax_reserva['fiscalizados_reserva'] = np.where(df_efetivadade_api_pax_reserva['Codigo IATA do destino do Voo'].isna(),0,df_efetivadade_api_pax_reserva['fiscalizados_reserva'])

## Considerando passageiros sem código de reserva como viajando sozinho. qtt_pax_reserva = 1

In [97]:
df_efetivadade_api_pax_reserva.loc[(df_efetivadade_api_pax_reserva['Codigo Localizador da Reserva'].isna()) & (df_efetivadade_api_pax_reserva['Codigo IATA do local de desembarque do viajante'].notna())].head(5)

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,fiscalizados_0/1,resultado_0/1,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Tipo de Viajante,Numero do Viajante Unico,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de Registros,Quantidade de bagagens,Data da Chegada do Voo2,qtd_pax_reserva,resultado_reserva,fiscalizados_reserva
115712,GRU,AF454,CDG,20201218165660002,GC038453,BRASIL,MAIA MATOS HOFFET,BRA,15/02/2019,01/13/21,2020121816566000213012021,0,0,CDG,GRU,12/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.020122e+16,NCE,Nice,França,BSB,NaN,1,0.0,13012021,NaN,1,1
116576,GRU,AF454,CDG,20210120200200088,YE235971,BRASIL,ANA SOFIA FAUSTINO FERNANDES,BRA,01/08/2019,01/21/21,2021012020020008821012021,0,0,CDG,GRU,20/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.021012e+16,LHR,London,Reino Unido,GYN,NaN,1,0.0,21012021,NaN,1,1
419907,GRU,TK15,IST,20150121191023049,U22197181,TURQUIA,OMER YIGITHAN DEMIRDIK,TUR,23/03/1996,06/04/21,2015012119102304906042021,0,0,IST,GRU,06/04/2021 10:30:00,Turquia,15.0,Turkish Airlines,Passageiro,2.015012e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,06042021,NaN,1,1
422254,GRU,TK15,IST,20170126054280791,FZ838373,BRASIL,SCHREINER CLARICE RANGEL,BRA,21/12/1998,01/24/21,2017012605428079124012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017013e+16,IST,"Arnavutk?y, Istanbul",Turquia,GRU,NaN,1,0.0,24012021,NaN,1,1
422679,GRU,TK15,IST,20170222112288856,AAG489156,ARGENTINA,LUIS LEOPOLDO BERNARDO TELLO,ARG,27/07/1957,01/24/21,2017022211228885624012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017022e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,24012021,NaN,1,1

In [98]:
df_efetivadade_api_pax_reserva['qtd_pax_reserva'] = np.where(df_efetivadade_api_pax_reserva['qtd_pax_reserva'].isna(),1,df_efetivadade_api_pax_reserva['qtd_pax_reserva'])
df_efetivadade_api_pax_reserva.loc[(df_efetivadade_api_pax_reserva['Codigo Localizador da Reserva'].isna()) & (df_efetivadade_api_pax_reserva['Codigo IATA do local de desembarque do viajante'].notna())].head()

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,fiscalizados_0/1,resultado_0/1,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Tipo de Viajante,Numero do Viajante Unico,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de Registros,Quantidade de bagagens,Data da Chegada do Voo2,qtd_pax_reserva,resultado_reserva,fiscalizados_reserva
115712,GRU,AF454,CDG,20201218165660002,GC038453,BRASIL,MAIA MATOS HOFFET,BRA,15/02/2019,01/13/21,2020121816566000213012021,0,0,CDG,GRU,12/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.020122e+16,NCE,Nice,França,BSB,NaN,1,0.0,13012021,1.0,1,1
116576,GRU,AF454,CDG,20210120200200088,YE235971,BRASIL,ANA SOFIA FAUSTINO FERNANDES,BRA,01/08/2019,01/21/21,2021012020020008821012021,0,0,CDG,GRU,20/01/2021 23:20:00,França,454.0,Air France,Passageiro,2.021012e+16,LHR,London,Reino Unido,GYN,NaN,1,0.0,21012021,1.0,1,1
419907,GRU,TK15,IST,20150121191023049,U22197181,TURQUIA,OMER YIGITHAN DEMIRDIK,TUR,23/03/1996,06/04/21,2015012119102304906042021,0,0,IST,GRU,06/04/2021 10:30:00,Turquia,15.0,Turkish Airlines,Passageiro,2.015012e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,06042021,1.0,1,1
422254,GRU,TK15,IST,20170126054280791,FZ838373,BRASIL,SCHREINER CLARICE RANGEL,BRA,21/12/1998,01/24/21,2017012605428079124012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017013e+16,IST,"Arnavutk?y, Istanbul",Turquia,GRU,NaN,1,0.0,24012021,1.0,1,1
422679,GRU,TK15,IST,20170222112288856,AAG489156,ARGENTINA,LUIS LEOPOLDO BERNARDO TELLO,ARG,27/07/1957,01/24/21,2017022211228885624012021,0,0,IST,GRU,24/01/2021 10:20:00,Turquia,15.0,Turkish Airlines,Passageiro,2.017022e+16,IST,"Arnavutk?y, Istanbul",Turquia,EZE,NaN,1,0.0,24012021,1.0,1,1

# ---------------------------------------------------------------------------------------------------------------------------------------------------------
# ---------------------------------------------------------------------------------------------------------------------------------------------------------
# PASSAGEIROS FISCALIZADOS E RESULTADO

In [99]:
df_fiscalizados_resultado = df_efetivadade_api_pax_reserva.loc[df_efetivadade_api_pax_reserva['fiscalizados_reserva']>0]
df_fiscalizados_resultado

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,fiscalizados_0/1,resultado_0/1,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Tipo de Viajante,Numero do Viajante Unico,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de Registros,Quantidade de bagagens,Data da Chegada do Voo2,qtd_pax_reserva,resultado_reserva,fiscalizados_reserva
1,GIG,AA905,MIA,20131115112532028,YC104991,BRASIL,ANA PAULA FERREIRA QUINTAN,BRA,23/06/1985,04/19/21,2013111511253202819042021,1,0,MIA,GIG,18/04/2021 22:55:00,Estados Unidos,905.0,American Airlines,Passageiro,2.013112e+16,MIA,Miami,Estados Unidos,GIG,GSNDYG,1,2.0,19042021,1.0,0,1
2,GIG,AA905,MIA,20131116085778804,YC453638,BRASIL,RUDA GUIMARAES FERREIRA NETO,USA,29/03/1988,03/04/21,2013111608577880403042021,1,1,MIA,GIG,02/04/2021 22:55:00,Estados Unidos,905.0,American Airlines,Passageiro,2.013112e+16,MIA,Miami,Estados Unidos,GIG,XHSQIE,1,2.0,03042021,1.0,1,1
4,GIG,AA905,MIA,20140323110831498,YB552481,BRASIL,MONICA VICENTE,BRA,04/07/1980,05/14/21,2014032311083149814052021,1,0,MIA,GIG,13/05/2021 23:00:00,Estados Unidos,905.0,American Airlines,Passageiro,2.014032e+16,TPA,Tampa,Estados Unidos,GIG,QUBGUR,1,3.0,14052021,1.0,0,1
10,GIG,AA905,MIA,20140521192023170,FV726037,BRASIL,RODRIGO MIRANDA DE OLIVEIRA,BRA,16/02/1976,04/21/21,2014052119202317021042021,1,0,MIA,GIG,20/04/2021 23:15:00,Estados Unidos,905.0,American Airlines,Passageiro,2.014052e+16,MIA,Miami,Estados Unidos,GIG,BEMEUU,1,2.0,21042021,1.0,0,1
13,GIG,AA905,MIA,20140802052060014,FY636590,BRASIL,THIAGO HENRIQUE FREIRE DE OLIVEIRA,BRA,12/01/1988,04/05/21,2014080205206001404052021,1,1,MIA,GIG,03/05/2021 23:10:00,Estados Unidos,905.0,American Airlines,Passageiro,2.014080e+16,MIA,Miami,Estados Unidos,GIG,TEFZBA,1,2.0,04052021,1.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495037,GRU,Z8430,VVI,20210216134340013,AU888909,COLOMBIA,ANDRES FERNANDO RAMIREZ GONZALEZ,COL,09/12/1997,02/16/21,2021021613434001316022021,1,0,VVI,GRU,16/02/2021 12:10:00,Bolívia,430.0,Amaszonas,Passageiro,2.021022e+16,VVI,Santa Cruz,Bolívia,GRU,TPK3FZ,1,0.0,16022021,1.0,0,1
495047,GRU,Z8430,VVI,20210219140760007,4698085,"BOLIVIA, ESTADO PLURINACIONAL DA",ERWIN MEDRANO AGUILAR,BOL,04/11/1982,02/19/21,2021021914076000719022021,1,0,VVI,GRU,19/02/2021 12:10:00,Bolívia,430.0,Amaszonas,Passageiro,2.021022e+16,VVI,Santa Cruz,Bolívia,GRU,3635OY,1,2.0,19022021,1.0,0,1
495056,GRU,Z8430,VVI,20210219140780003,10385286,"BOLIVIA, ESTADO PLURINACIONAL DA",JOSE BENITO FLORES ESPADA,BOL,30/03/1995,02/19/21,2021021914078000319022021,1,0,VVI,GRU,19/02/2021 12:10:00,Bolívia,430.0,Amaszonas,Passageiro,2.021022e+16,VVI,Santa Cruz,Bolívia,GRU,4ZWERH,1,2.0,19022021,1.0,0,1
495142,GRU,Z8430,VVI,20210228134720025,V679926D,"BOLIVIA, ESTADO PLURINACIONAL DA",MIGUEL ANGEL YUJRA VILACITA,BOL,15/04/1994,02/28/21,2021022813472002528022021,1,0,VVI,GRU,28/02/2021 12:10:00,Bolívia,430.0,Amaszonas,Passageiro,2.021023e+16,CBB,Cochabamba,Bolívia,GRU,22SF9A,1,1.0,28022021,1.0,0,1
495216,GRU,ZP2838,ASU,20191106233400064,FO915098,BRASIL,RODRIGO ZECRY DE OLIVEIRA,BRA,13/12/1983,09/03/21,2019110623340006409032021,1,0,ASU,GRU,09/03/2021 18:00:00,Paraguai,2838.0,Zabaykalskii Airlines,Passageiro,2.019111e+16,ASU,Asunci?n,Paraguai,GRU,BNDYYQ,1,0.0,09032021,38.0,0,1

In [100]:
df_fiscalizados_resultado.columns

Index(['Recinto', 'Cia/Número do Voo', 'Aeroporto de Origem do Voo',
       'Código do VU', 'Número do Documento principal',
       'País Emissor do Documento principal', 'Nome principal',
       'Nacionalidade', 'Data de Nascimento', 'data chegada sem hora',
       'vu chegada', 'fiscalizados_0/1', 'resultado_0/1',
       'Codigo IATA da origem do voo', 'Codigo IATA do destino do Voo',
       'Data de Partida do Voo', 'Pais de origem do voo', 'Numero do Voo',
       'Companhia Aerea', 'Tipo de Viajante', 'Numero do Viajante Unico',
       'Codigo IATA do local de embarque do passageiro',
       'Cidade do embarque do viajante', 'Pais de embarque do viajante',
       'Codigo IATA do local de desembarque do viajante',
       'Codigo Localizador da Reserva', 'Quantidade de Registros',
       'Quantidade de bagagens', 'Data da Chegada do Voo2', 'qtd_pax_reserva',
       'resultado_reserva', 'fiscalizados_reserva'],
      dtype='object')

In [101]:
df_fiscalizados_resultado.isna().sum()

Recinto                                             0
Cia/Número do Voo                                   0
Aeroporto de Origem do Voo                          0
Código do VU                                        0
Número do Documento principal                       0
País Emissor do Documento principal                22
Nome principal                                      0
Nacionalidade                                       3
Data de Nascimento                                  1
data chegada sem hora                               0
vu chegada                                          0
fiscalizados_0/1                                    0
resultado_0/1                                       0
Codigo IATA da origem do voo                        0
Codigo IATA do destino do Voo                       0
Data de Partida do Voo                              0
Pais de origem do voo                               0
Numero do Voo                                       0
Companhia Aerea                                     0
Tipo de Viajante                                    0
Numero do Viajante Unico                            0
Codigo IATA do local de embarque do passageiro      2
Cidade do embarque do viajante                      3
Pais de embarque do viajante                        4
Codigo IATA do local de desembarque do viajante     2
Codigo Localizador da Reserva                      30
Quantidade de Registros                             0
Quantidade de bagagens                              0
Data da Chegada do Voo2                             0
qtd_pax_reserva                                     0
resultado_reserva                                   0
fiscalizados_reserva                                0
dtype: int64

In [102]:
df_fiscalizados_resultado = df_fiscalizados_resultado.drop(columns=['fiscalizados_reserva','fiscalizados_0/1','resultado_0/1','Numero do Viajante Unico','Quantidade de Registros','Tipo de Viajante'])
df_fiscalizados_resultado

,Recinto,Cia/Número do Voo,Aeroporto de Origem do Voo,Código do VU,Número do Documento principal,País Emissor do Documento principal,Nome principal,Nacionalidade,Data de Nascimento,data chegada sem hora,vu chegada,Codigo IATA da origem do voo,Codigo IATA do destino do Voo,Data de Partida do Voo,Pais de origem do voo,Numero do Voo,Companhia Aerea,Codigo IATA do local de embarque do passageiro,Cidade do embarque do viajante,Pais de embarque do viajante,Codigo IATA do local de desembarque do viajante,Codigo Localizador da Reserva,Quantidade de bagagens,Data da Chegada do Voo2,qtd_pax_reserva,resultado_reserva
1,GIG,AA905,MIA,20131115112532028,YC104991,BRASIL,ANA PAULA FERREIRA QUINTAN,BRA,23/06/1985,04/19/21,2013111511253202819042021,MIA,GIG,18/04/2021 22:55:00,Estados Unidos,905.0,American Airlines,MIA,Miami,Estados Unidos,GIG,GSNDYG,2.0,19042021,1.0,0
2,GIG,AA905,MIA,20131116085778804,YC453638,BRASIL,RUDA GUIMARAES FERREIRA NETO,USA,29/03/1988,03/04/21,2013111608577880403042021,MIA,GIG,02/04/2021 22:55:00,Estados Unidos,905.0,American Airlines,MIA,Miami,Estados Unidos,GIG,XHSQIE,2.0,03042021,1.0,1
4,GIG,AA905,MIA,20140323110831498,YB552481,BRASIL,MONICA VICENTE,BRA,04/07/1980,05/14/21,2014032311083149814052021,MIA,GIG,13/05/2021 23:00:00,Estados Unidos,905.0,American Airlines,TPA,Tampa,Estados Unidos,GIG,QUBGUR,3.0,14052021,1.0,0
10,GIG,AA905,MIA,20140521192023170,FV726037,BRASIL,RODRIGO MIRANDA DE OLIVEIRA,BRA,16/02/1976,04/21/21,2014052119202317021042021,MIA,GIG,20/04/2021 23:15:00,Estados Unidos,905.0,American Airlines,MIA,Miami,Estados Unidos,GIG,BEMEUU,2.0,21042021,1.0,0
13,GIG,AA905,MIA,20140802052060014,FY636590,BRASIL,THIAGO HENRIQUE FREIRE DE OLIVEIRA,BRA,12/01/1988,04/05/21,2014080205206001404052021,MIA,GIG,03/05/2021 23:10:00,Estados Unidos,905.0,American Airlines,MIA,Miami,Estados Unidos,GIG,TEFZBA,2.0,04052021,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495037,GRU,Z8430,VVI,20210216134340013,AU888909,COLOMBIA,ANDRES FERNANDO RAMIREZ GONZALEZ,COL,09/12/1997,02/16/21,2021021613434001316022021,VVI,GRU,16/02/2021 12:10:00,Bolívia,430.0,Amaszonas,VVI,Santa Cruz,Bolívia,GRU,TPK3FZ,0.0,16022021,1.0,0
495047,GRU,Z8430,VVI,20210219140760007,4698085,"BOLIVIA, ESTADO PLURINACIONAL DA",ERWIN MEDRANO AGUILAR,BOL,04/11/1982,02/19/21,2021021914076000719022021,VVI,GRU,19/02/2021 12:10:00,Bolívia,430.0,Amaszonas,VVI,Santa Cruz,Bolívia,GRU,3635OY,2.0,19022021,1.0,0
495056,GRU,Z8430,VVI,20210219140780003,10385286,"BOLIVIA, ESTADO PLURINACIONAL DA",JOSE BENITO FLORES ESPADA,BOL,30/03/1995,02/19/21,2021021914078000319022021,VVI,GRU,19/02/2021 12:10:00,Bolívia,430.0,Amaszonas,VVI,Santa Cruz,Bolívia,GRU,4ZWERH,2.0,19022021,1.0,0
495142,GRU,Z8430,VVI,20210228134720025,V679926D,"BOLIVIA, ESTADO PLURINACIONAL DA",MIGUEL ANGEL YUJRA VILACITA,BOL,15/04/1994,02/28/21,2021022813472002528022021,VVI,GRU,28/02/2021 12:10:00,Bolívia,430.0,Amaszonas,CBB,Cochabamba,Bolívia,GRU,22SF9A,1.0,28022021,1.0,0
495216,GRU,ZP2838,ASU,20191106233400064,FO915098,BRASIL,RODRIGO ZECRY DE OLIVEIRA,BRA,13/12/1983,09/03/21,2019110623340006409032021,ASU,GRU,09/03/2021 18:00:00,Paraguai,2838.0,Zabaykalskii Airlines,ASU,Asunci?n,Paraguai,GRU,BNDYYQ,0.0,09032021,38.0,0

In [103]:
df_fiscalizados_resultado['resultado_reserva'].sum()

2138

In [104]:
df_fiscalizados_resultado.to_csv('fiscalizados_resultado.csv',sep=';')

In [105]:
df_fiscalizados_resultado.shape

(35840, 26)